.portfolio {
}
.portfolio-tite {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  color: #2e2f42;
}
.portfolio-link {
}
.portfolio-item {
}
.portfolio-ill {
}
.portfolio-type {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.portfolio-descr {
  color: #434455;
}
